.linear-progress {
  width: var(--width, 200px);
  height: var(--height, 8px);
  position: relative;
  overflow: hidden;
  background: color-mix(in oklab, var(--color) 20%, white);

  &:after {
    content: ' ';
    display: block;
    height: inherit;
    position: absolute;
    z-index: 2;
    background: var(--color);
  }

  &[data-variant='indeterminate'] {
    &:after {
      width: calc(var(--width) / 100 * 60);
      animation: progress 2s linear infinite;
    }
  }

  &[data-variant='determinate'] {
    &:after {
      width: var(--fill-width);
      animation: none;
      transition: width 500ms;
    }
  }
}
@keyframes progress {
  from {
    left: calc(var(--width) / 100 * 60 * -1);
  }

  to {
    left: 100%;
  }
}
