@import '../../styles/index';

button {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding * 1.5 $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: #e2e2e2;
  color: white;
  font-weight: 600;

  &:hover {
    background-color: lighten(#e2e2e2, 5);
  }

  &.btn-tiny {
    font-size: $font-size-tiny;
    padding: $base-padding * 0.5 $base-padding;
  }

  &.btn-small {
    font-size: $font-size-small;
    padding: $base-padding $base-padding * 1.5;
  }

  &.btn-medium {
    font-size: $font-size-medium;
    padding: $base-padding * 1.5 $base-padding * 2;
  }

  &.btn-large {
    font-size: $font-size-large;
    padding: $base-padding * 2 $base-padding * 2.5;
  }

  &.btn-big {
    font-size: $font-size-big;
    padding: $base-padding * 2.5 $base-padding * 3;
  }
}

@each $key, $value in $base-colors {
  .btn-#{$key} {
    background-color: $value;

    &.btn-contained {
      color: white;

      &:hover {
        background-color: lighten($value, 5);
      }
    }

    &.btn-outlined {
      background-color: white;
      border: $base-border-thickness solid $value;
      color: $value;

      &:hover {
        background-color: map-get($light-colors, 'light-#{$key}');
      }
    }

    &.btn-link {
      background-color: white;
      color: $value;
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
