@import 'colors.module';

// spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 6px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-tiny: $base-font-size * 0.75;
$font-size-small: $base-font-size * 0.875;
$font-size-medium: $base-font-size;
$font-size-large: $base-font-size * 1.25;
$font-size-big: $base-font-size * 1.5;
