// theme colors
$primary: #326dee !default;
$secondary: #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// color palette
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'error': $error,
  'info': $info,
  'blue': #1919e6,
  'red': #e61919,
  'yellow': #e6e619,
  'green': #19e635,
  'orange': #ffa600,
  'purple': #9900ff,
  'gray': #808080,
  'black': black,
  'light-primary': lighten($primary, 35),
  'light-secondary': lighten($secondary, 45),
  'light-error': lighten($error, 45),
  'light-info': lighten($info, 35),
  'light-blue': lighten(#1919e6, 45),
  'light-red': lighten(#e61919, 45),
  'light-yellow': lighten(#e6e619, 40),
  'light-green': lighten(#19e635, 45),
  'light-orange': lighten(#ffa600, 40),
  'light-purple': lighten(#9900ff, 45),
  'light-gray': lighten(#808080, 40),
  'light-black': lighten(black, 85),
);

// spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 6px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-tiny: $base-font-size * 0.75;
$font-size-small: $base-font-size * 0.875;
$font-size-medium: $base-font-size;
$font-size-large: $base-font-size * 1.25;
$font-size-big: $base-font-size * 1.5;

:export {
  @each $name, $color in $colors {
    #{$name}: $color;
  }
}
